.Box{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly;  
    background-color:#F6F6F6;
    margin-top: 20px;
    border-radius: 20px 20px 20px 20px;     
}

.cart{
    display: flex;
    justify-content: center;
    height: 340px;
    width: 340px;
    border-radius: 20px 20px 20px 20px;
    text-decoration: none;
    margin-bottom: 40px;    
}

.img-all{
    z-index: 2;  
    height: 340px;
    width: 340px;
    border-radius: 20px 20px 20px 20px;
    object-fit: cover;
    background: rgb(133,133,133);
    background: linear-gradient(180deg, rgba(133,133,133,0.11930585683297179) 0%, rgba(131,131,131,0.911062906724512) 100%);
    
  
}
.text-box{
    display: flex;
    justify-content: flex-start;
    text-align: left;
    position: relative;
    width: 50%;
    top:-80px;
    left: 8px;
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 0px black,
    1px 1px 0px black,
    1px 1px 0px black;

}

@media (min-width:481px) and (max-width:1024px){
    .cart{
        width: 500px;
        height:350px;
    }
    .img-all{
        width: 500px;
        
    }
}
@media (min-width:350px) and (max-width:480px) {
 .Box{
    display: flex;
    align-items:center;
    flex-direction: column;
    
    width: 350px;
    

 }
 .cart{
    height: 255px;
    width: 80%;
 }
.img-all{
    height: 255px;
    
}

}
