.wrapper{
    display: flex;
    width: 80%;
    align-items: center;
}
.item{
    margin-top:50px;
}
.title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #FF6060;
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
    cursor: pointer;

}
.title h2{
    margin: 5px;
    color:white;
}
.content{

    font-size:18px;
    text-align:start;
    max-height: 0px;
    overflow: hidden;
    color: #FF6060;
    padding-left: 5px;
    transition: all 0.5s cubic-bezier(0,1,0,1)
 
}
.content.show{
    max-height:auto;
    max-height: 9999px;
    transition: all 0.5s cubic-bezier(0,1,0,1)
}
