.nav{
    display:flex;
    justify-content:space-between;
    margin-bottom:40px;
    margin: 10px;
}

.liste-nav{
    display:flex;
    flex-direction:row;
    text-decoration: none;
    align-items: center;
}

.li-nav{
    text-decoration:none;
    list-style: none;
    color:#FF6060;
    font-size: 25px;
}
.li-nav2{
    text-decoration:none;
    list-style: none;
    color:#FF6060;
    margin-left:50px;
    font-size: 25px;
}
.li-nav:hover{
    border-bottom:1px solid #FF6060;
}
.li-nav2:hover{
    
    border-bottom:1px solid #FF6060;
}
.li-nav0:hover{
    
    border-bottom:none;
}

@media (max-width:1240px){
    .nav{
        width:100%;
        display: flex;
        justify-content: space-between;
        margin-top: 15px;
        margin-left: 5px;

        
    }
    .nav img{
        width: 150px;
        
        
    }

    .li-nav{
         font-size:15px;
         margin-left: 0px;
         text-transform: uppercase;
    }
    .li-nav2{
        font-size:15px;
        margin-right: 10px;
        margin-left: 10px;
        text-transform: uppercase;
    }
}