.foot{
    
    border-bottom:none;
    background-color:black;
    width: 1440px;
    margin-top:20px;
    padding-top:20px; 
    margin-left: -100px;

    
}
.li-foot{
    text-decoration: none;
}
.text-foot{
    color: white;
    padding-bottom: 20px;
}

@media (max-width:1240px) {
    .foot{
    width: 100%;
    margin-left: 0;
        
    }
}